<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Techmelange</title>
    <meta charset="UTF-8" />
    <!-- cheacking for carousel only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static\style.css" />
    <link rel="shortcut icon" href="static\logo.webp" type="image\x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#home_page_main"><img src="static\logo.webp" alt="Bootstrap" width="30" height="24" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about_page">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#events_page">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#glimpse_page">Glimpse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactus_page">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/sponsers">Sponsers</a>
                  </li>
                  <li>
                    <!-- pdf link to be added -->
                    <a class="dropdown-item" href="" target="_blank" download>Schedule</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    

    <section id="home_page_main">
      <div class="bg-image text-white">
        <h1 id="techmelange" class="display-4 fst-italic pt-4 pl-4"><b>{{ m1 }}</b></h1>
        <p class="lead my-3 pl-4">{{ m2 }}</p>
        {% comment %} <p class="lead my-3 pl-4">{{ a1.fest_desc }}</p> {% endcomment %}
        <p class="lead my-3 pl-4" style="font-size: 30px; ">
          <b>{{ m3 }}</b>
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold"></a>
        </p>
      </div>
    </section>

    <section id="about_page">
      <div class="p-3 mb-2 bg-dark text-white" id="aboutpage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>About</b></h1><br />
        <h2 class="text-left">{{a1}}</h2>
        <p>{{ a2 }}</p>
      </div>
    </section>

    <section id="events_page">
      <div class="p-3 mb-2 bg-light text-black-50" id="eventspage">
        <h1 id="techmelange" class="display-4 fst-italic text-center"><strong>Events</strong></h1>
        <div class="container text-center">
          <div class="row">
            {% for i in b %}
             <div class="col-md-4 mt-2">
               <div class="event-img">
                 <a href="{% url 'event' i.id %}">
                 <img src="/static/poster1.jpg" height="300px" width="250px" alt="1" /></a> 
                 <div class="overlay">
                   <div class="text"><strong>{{i.e_name}} </strong></div>
                 </div>
               </div>
             </div>
            {% endfor %} 

          </div>
        </div>
      </div>
    </section>

    <section id="glimpse_page">
      <div class="p-3 mb-2 bg-dark text-white" id="glimpsepage">
        <h1 id="techmelange" class="display-4 fst-italic text-center"><b>Glimpse</b></h1>
        <div id="demo" class="carousel slide text-center" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1" class="active"></li>
            <li data-target="#demo" data-slide-to="2" class="active"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static\chicago.jpg" alt="Los Angeles" width="1000" height="500" />
            </div>
            <div class="carousel-item">
              <img src="static\chicago.jpg" alt="Chicago" width="1000" height="500" />
            </div>
            <div class="carousel-item">
              <img src="static\ny.jpg" alt="New York" width="1000" height="500" />
            </div>
          </div>
        </div>
        <div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
          <a class="carousel-control-next" href="#demo" data-slide="next"><span class="carousel-control-next-icon"></span></a>
        </div>

      </div>
    </section>

    <section id="contactus_page">
      <div class="p-3 mb-2 bg-dark text-white" id="contactuspage">
        <h1 id="techmelange" class="display-4 fst-italic text-center"><b>Contact Us</b></h1>
        <p>email: {{c1}}
          <br>mobile: {{c2}}
        </p>
        <div class="text-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.039847006692!2d77.3203464141196!3d28.598581392369603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4e54a9b122f%3A0x2e3b06c41fed53e6!2sShaheed%20Rajguru%20College%20of%20Applied%20Sciences%20for%20Women!5e0!3m2!1sen!2sin!4v1671297798418!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold"></a>
        </p>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
