<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Techmelange</title>
    <meta charset="UTF-8" />
    <!-- cheacking for carousel only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- check over -->
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="src/srcsaw_favicon.png" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#home_page_main"><img src="https://static.wixstatic.com/media/382579_3d8254fd863a4796ae7fde7db8a9fe1e~mv2.jpeg/v1/crop/x_71,y_60,w_333,h_333/fill/w_108,h_108,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/382579_3d8254fd863a4796ae7fde7db8a9fe1e~mv2.jpeg" alt="Bootstrap" width="30" height="24" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about_page">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#events_page">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#glimpse_page">Glimpse</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#contactus_page">Contact Us</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#sponsers_page">Sponsers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#schedule_page">Schedule</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="home_page_main">
      <div class="bg-image text-white">
        <h1 id="techmelange" class="display-4 fst-italic"><b>TECH MELANGE'23</b></h1>
        <p class="lead my-3">Technology is best when it brings people together</p>
        <p class="lead my-3" style="font-size: 30px; ">
          <b>10 JAN - 11 JAN</b>
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold"></a>
        </p>
      </div>
    </section>

    <section id="about_page">
      <div class="p-3 mb-2 bg-dark text-white" id="aboutpage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>About</b></h1><br/>
        <h2 class="text-left"> {{stg}} </h2>
        <p> {{stg1}}</p>
        <p>{{a.fest_name}}</p>
        <p>{{stg2}}</p>
        <p>{{stg3}}</p>
        <p>{{stg4}}</p>
      </div>
    </section>

    <section id="events_page">
      <div class="p-3 mb-2 bg-dark text-white" id="eventspage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>Events</b></h1>
        <p>GRID FLEX BOXES TO BE ADDED</p>
        <div class="grid text-center">
          <div class="g-col-6 g-col-md-4">
            <a href="www.youtube.com"><img src="https://picsum.photos/seed/picsum/200/300" alt="img1" /></a>
          </div>
          <div class="g-col-6 g-col-md-4">
            <a href="www.youtube.com"><img src="https://picsum.photos/seed/picsum/200/300" alt="img2" /></a>
          </div>
          <div class="g-col-6 g-col-md-4">
            <a href="www.youtube.com"><img src="https://picsum.photos/seed/picsum/200/300" alt="img2" /></a>
          </div>
        </div>
      </div>
    </section>

    <section id="glimpse_page">
      <div class="p-3 mb-2 bg-dark text-white" id="glimpsepage">
        <!-- <div class="col-md-6 px-0"> -->
        <h1 id="techmelange" class="display-4 fst-italic"><b>Glimpse</b></h1>
        <!-- <p>Carousel TO BE ADDED</p> -->
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/src/ny.jpg" alt="Los Angeles" width="1000" height="500" />
            </div>
            <div class="carousel-item">
              <img src="src/chicago.jpg" alt="Chicago" width="1000" height="500" />
            </div>
            <div class="carousel-item">
              <img src="/src/ny.jpg" alt="New York" width="1000" height="500" />
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
          <a class="carousel-control-next" href="#demo" data-slide="next"><span class="carousel-control-next-icon"></span></a>
        </div>

        <!-- </div> -->
      </div>
    </section>

    <section id="sponsers_page">
      <div class="p-3 mb-2 bg-dark text-white" id="sponserspage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>Sponsers</b></h1>
        <p>SPONSERS IN GRID VIEW WITH IMAGES TO BE ADDED</p>
      </div>
    </section>
    <section id="schedule_page">
      <div class="p-3 mb-2 bg-dark text-white" id="schedulepage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>Schedule</b></h1>

        <p>TIMETABLE/ EXCEL SHEET?? TO BE ADDED</p>
      </div>
    </section>

    <section id="contactus_page">
      <div class="p-3 mb-2 bg-dark text-white" id="contactuspage">
        <h1 id="techmelange" class="display-4 fst-italic"><b>Contact Us</b></h1>
        <p class="lead my-3">Technology is best when it brings people together</p>
        <p>EMAIL + MAP TO BE ADDED</p>
        <p class="lead my-3" style="font-size: 30px; ">
          <b>10 JAN - 11 JAN</b>
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold"></a>
        </p>
      </div>
    </section>
  </body>
</html>
