.bg-image {
  height: 91vh;
  width: 100%;
  font-family: Garamond, serif;
  background-image: url("bg-main-div.jpg");
  background-size: cover;
}

.bg-image h1 p {
  text-align: center;
  text-justify: auto;
  margin-left: 50px;
  padding-left: 50px;

}

#aboutpage, #eventspage, #glimpsepage {
  height: fit-content;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 4em;
  right: 0;
  background-color: rgba(31, 54, 122, 0.7);
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: .5s ease;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.event-img:hover .overlay {
  bottom: 0;
  height: 100%;
}

.row {
  display: flex;
}